{% extends 'base.html.twig' %}

{% block title %}Les Aliments {% endblock %}

{% block monTitle %}
    Liste des types

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for type in lestypes %}
            <div class="col-auto">
                <h2>{{ type.libelle }} </h2>
                <img src="{{ asset('images/types/'~ type.image) }}" class="perso_imgAlimentAdmin card_img-top img-thumbnail">
            </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}
